@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To University Planner</h1>
    <p>Visit <a href="https://github.com/Robinord/UniPlannerUltimate">Github link</a> to know the workings of this app</p>
    <br>
    <br>
    <h5>Register or Login to be able to edit information.</h5>

</div>
